@font-face{
    font-family: "myFirstfont";
    src: url(https://www.dafontfree.net/freefonts-perpetua-f138332.htm)format("ttf");
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.deti{
    background-image: url(./Booking/Image\ 3.png);
    background-position-y: -80px;
    background-position-x: -220px;
    background-size: 1800px  1020px;
    background-repeat: no-repeat;
     /* background: transparent url(./Image\ 3.png) 0% 0% no-repeat padding-box;  */
    height: 1500px; 
   opacity: 1;
}
   



  
header{
    margin-top: 20px;
    margin-left: 10.8%;
    display: inline-block;
    vertical-align: middle;
}
.logo{
   position: relative;
   top: -10px;
    width: 82px;
    height: 60px;
   vertical-align: middle;
}

.home{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0.54px;
    color: #000000;
    opacity: 1;
    
}
li{
list-style-type: none;
display: inline-block;
margin-left: 20px;
}
h3{
    position: relative;
    top: -5px;
margin-left: 5px;
display: inline;
text-align: left;
font: Bold 30px Perpetua;
letter-spacing: 1.2px;
color: #4B4B4B;
opacity: 1;
vertical-align: middle;
}
.Logo{
    display: inline;
}
ul{
   
    margin-left: 210px;
    
}
.phone{
    background-color: #FE8369;
    border-radius: 5px;
    padding: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    box-shadow: 0px 15px 15px #00000029;
}
.phone_a{
    color: white;
    font-size: 15px;
    font-weight: 500;
    
}
.img_phone{
    vertical-align: middle;
    padding-right: 7px;
}
.home:hover,
.home:focus
{
    border-bottom: 1px solid #FE8369;
    opacity: 1;
    padding-bottom: 5px;
}
.phone:hover{
    background-color: coral;
}
.lets{
    position: relative;
    top: 130px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 100;
    text-shadow: 0px 5px 20px #5030206B;
}
.best{
    position: relative;
    top: 125px;
    text-align: center;
    letter-spacing: 2.1px;
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 100;
    text-shadow: 0px 5px 20px #5030206B;
}



.wrap{
    margin: 0;
    position: relative;
    top: 157px;
    left: 300px;
    width: 710px;
    height: 80px;

    background-color: white;
    border-radius: 5px;
    /* box-shadow: 0px 20px 40px #50302029; */
}

.container {
    margin-top: 10px;
    padding: 10 px;
    position: relative;
    top: -3px;
    margin-right: 0;
  
}
  
.select-box {
    display: flex;
    width: 180px;
    flex-direction: column;
    margin-left: 13px;
  
}
  
.select-box .options-container,
.select-box .options-container1,
.select-box .options-container2 {
    background: white;
    position: relative;
    top: 25px;
    width: 200px;
    height: 120px;
    /* padding-top: 50px; */
    /* height: 100%; */
    /* width: 100%; */
    opacity: 0;
    transition: all 0.4s;
    border-radius: 5px;
    overflow: hidden;
    display: none;
    
    order: 1;
}
  
.selected,
.selected1, 
.selected2{
    background: white;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 0;
    width: 185px;
    
    position: relative;
    font-family: Regular  Perpetua;
    text-align: left;
    letter-spacing: 0.96px;
    color: #4B4B4B;
    font-size: 21px;
    background-image: url(./Booking/6.png);
    background-repeat: no-repeat;
    background-position: 175px -1px;
  
    order: 0;
}
.select-box .options-container.active,
.select-box .options-container1.active,
.select-box .options-container2.active {
    display: inline-block;
    opacity: 1;
    overflow-y: scroll;
    
}


.select-box .options-container::-webkit-scrollbar,
.select-box .options-container1::-webkit-scrollbar,
.select-box .options-container2::-webkit-scrollbar  {
    width: 8px;
    background:  #FE8369;
    border-radius: 0 5px 5px 0;
}
  
.select-box .options-container::-webkit-scrollbar-thumb,
.select-box .options-container1::-webkit-scrollbar-thumb,
.select-box .options-container2::-webkit-scrollbar-thumb {
    background: rgba(209, 203, 203,0.5);
    border-radius: 0 5px 5px 0;
    
}

.select-box .option,
.selected ,
.select-box .option1,
.selected1,
.select-box .option2,
.selected2 {
    
  padding-left: 10px;
  cursor: pointer;

 
}

.select-box .option:hover,
.select-box .option1:hover,
.select-box .option2:hover {
  background: #00000029 ;
  
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio ,
.select-box .option1 .radio ,
.select-box .option2 .radio {
  display: none;
  padding: 10px;
  
}

.label{
    
    font-family: Regular  Perpetua;
    text-align: left;
    letter-spacing: 0.96px;
    line-height: 43px;
    color: #4B4B4B;
    font-size: 21px;
    height:50px;

    
    
    
    
   
}

.upper_p{
    
    position: relative;
    padding-top: 20px;
    top: 4px;
    left: 15px;;
    width: 106px;
    height: 19px;
    text-align: center;
    font:  13px Montserrat;
    letter-spacing: 0.48px;
    color: #D4C9B6;
    opacity: 1;

}
.upper_p1{
    position: relative;
    left: 8px;
    top: 4px;

}
.upper_p2{
    position: relative;
    top: 4px;
    left: 9px;
    padding-bottom: 1px;
}



.vijat{
    position: relative;
    top: 100px;
    left: 539px;
    width: 0px;
    height: 43px;
    border: 1px solid #D5CAB8;
    opacity: 1;
}
#d2{
    position: absolute;
    left: 259px;
    top: 0px;
    display: inline-block;
}
.vijat1{
    position: relative;
    top: 56px;
    left: 782px;
    width: 0px;
    height: 43px;
    border: 1px solid #D5CAB8;
    opacity: 1;

}
#d3{
    position: absolute;
    display: inline-block;
    left: 487px;
    top: 0px;
    margin-right: 0;
    width: fit-content;
}
/* #prices{
    position: relative;
    top: -6px;
   
} */
.options-container2.active{
    margin-top: 1px;
}

.search{
    cursor: pointer;
    position: relative;
    left: 1008px;
    top: -13px;
    width: 206px;
    height: 80px;
    background: #FE8369 0% 0% no-repeat padding-box;
    border-radius: 0px 5px 5px 0px;
    opacity: 1;
    border-style: none;

    text-align: center;
    font: 20px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    
}
.search:focus{
    border: 2px solid white;
    outline: 0;
    
}

.njerzit{
    margin-right: 0;
    position: relative;
    top: -560px;
    width: 1519px;
    height:  510px;
    background: #F0E3D0 ; 
    opacity: 1;
    
}
#triangle-bottomleft {
    position: relative;
    top: 134px;
    width: 0;
    height: 0;
    border-bottom: 377px solid white;
    border-right: 741px solid transparent;
    margin: 0;
    padding: 0;
   
  }
  .buyers h4,.agents h4, .sellers h4 {
    position: absolute;
    top: 341px;
    left: 87px;
    text-align: left;
    font-family:  "MyFirstFont";
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #4B4B4B;
    opacity: 1;

}

.buyers p, .agents p, .sellers p {
    position: absolute;
    top: 368px;
    left: 87px;
    text-align: left;
    font:  13px Montserrat;
    letter-spacing: 0;
    color: #444444;
    opacity: 1;
}

.buyers{
    position: absolute;
    box-sizing: border-box;
    top: -180px;
    left: 495px;
    width: 294px;
    height: 375px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #5030200D;
    border-radius: 5px;
    opacity: 1;
    background-image: url(./Booking/buyersssss.png);
    background-size: 225px 235px;
    background-position: 35px 33px;
}
.vija-portokall1{
    position: absolute;
    top: 300px;
    left: 35px;
    width: 35px;
    height: 1.2px;
    background-color: #FE8369;

}
.buyers h4{
    position: absolute;
    top: 290px;
    left: 80px;
}
.buyers p{
    position: absolute;
    top: 317px;
    left: 80px;
}

.agents{
    position: absolute;
    top: -60px;
    left: 149px;
    width: 290px;
    height: 438px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #5030200D;
    border-radius: 5px;
    opacity: 1;
    background-image: url(./Booking/agentsssssssssss.png);
    background-size: 210px 282px;
    background-position: 40px 30px;
    z-index: 2;
}
.vija-portokall2{
    position: absolute;
    top: 350px;
    left: 40px;
    width: 35px;
    height: 2px;
    background-color: #FE8369;

}




.sellers{
    position: absolute;
    top: 230px;
    left: 495px;
    width: 294px;
    height: 392px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 40px #5030200D;
    border-radius: 5px;
    opacity: 1;
    background-image: url(./Booking/sellers.png);
    background-size: 225px 235px;
    background-position: 35px 33px;
    z-index: 3;
}

.vija-portokall3{
    position: absolute;
    top: 310px;
    left: 35px;
    width: 35px;
    height: 1.2px;
    background-color: #FE8369;

}
.sellers h4{
    position: absolute;
    top: 301px;
    left: 81px;
}
.sellers p{
    position: absolute;
    top: 328px;
    left: 81px;
}

.teksti-majtas{
    position: relative;
    top: -476px;
    left: 850px;
    width: 500px;
    height: 500px;

}
.teksti-majtas h1{
    text-align: left;
    font:  600 31px "myFirstFont"; 
    line-height: 45px;
    letter-spacing: 1.2px;
    color: #4B4B4B;
    opacity: 1;
    
}

.vija-portokall{
    position: absolute;
    top: 100px;
    width: 669px;
    height: 2px;
    background-color: #FE8369;
    z-index: 40;

}

.teksti-majtas p {
    position: absolute;
    top: 130px;
    text-align: left;
    font:  13px/35px Montserrat;
    letter-spacing: 0;
    color: #4B4B4B;
    opacity: 1;
}
.teksti-majtas .gjysma-dyte{
    position: absolute;
    top: 255px;
}
.teksti-majtas a{
    position: absolute;
    top: 460px;

    width: 145px;
    height: 35px;
    background: #FE8369 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 20px #00000029;
    border-radius: 5px;
    opacity: 1;
    color: white;
    font:  15px/23px Muli;
    letter-spacing: 0.54px;
    text-align: left;
    padding-top: 15px;
    padding-left: 25px;
    background-image: url(./Booking/arrow-long.png);
    background-repeat: no-repeat;
    background-size: 18px 12px;
    background-position: 125px 21px;
    border-radius: 5px;
    text-decoration: none;
}
.head_foto{
    margin-left: 10.8%;
    position: relative;
    top: -350px;
}
.head_foto h2{
    text-align: left;
    font: Bold 35px/50px Perpetua;
    letter-spacing: 1.2px;
    color: #4B4B4B;
    opacity: 1;

}
.vija-portokall4{
    position: absolute;
    left: -165px;
    top: 60px;
    width: 475px;
    height: 2px;
    background-color: #FE8369;
}
.head_foto p{
    position: absolute;
    top: 80px;
    text-align: left;
    font:  14px/30px Montserrat;
    letter-spacing: 0;
    color: #4B4B4B;
    opacity: 1;
}
/* w3shcools-i */
/* .container {
    overflow: hidden;
}

.foto{
    display: none;
}
.show{
    display: block;
} */



.filteri{
    position: absolute;
    top: 1800px;
    left: 1190px;
}
.filteri .button1{
    margin: 0;
    margin-right: 15px;
    height: 40px;
    text-align: center;
    font: 18px/45px "MyFirstFont";
    letter-spacing: 0.6px;
    color: #151D41;
    background-color: white;
    border-style: none;
    opacity: 1;
   padding-right: 5px;
    padding-bottom: 0;

}
.filteri button:hover, 
.filteri button:focus{
    cursor: pointer;
    outline: 0;
    border-bottom: 2px solid #FE8369;

}


.content{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 400px 400px 400px; 
    grid-column-gap: 57.5px;
    grid-row-gap: 80px;
    margin-left: 10.8%;
    position: relative;
    top: -175px;
    left: 0;
    height: 1000px;
}
.foto1, .foto2, .foto3, .foto4 ,.foto5, .foto6 {
    /* display: inline-block; */
    
    width: 350px;
    height: 400px;
    background-image: url(./Booking/pexels_photo_2079246.png);
    background-repeat: no-repeat;
    background-size: 351px 280px;
    background-position: 0 0;

    box-shadow: 0px 20px 20px #50302028;
    border-radius: 5px;
    opacity: 1;
}
.foto1 h5, .foto2 h5, .foto3 h5, .foto4 h5,.foto5 h5, .foto6 h5 {
    position: relative;
    top: 300px;
    left: 30px;
    text-align: left;
    font: Bold 14px/20px MyFirstFont;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #4B4B4B;
    opacity: 1;

}
.foto1 .bed, .foto2 .bed, .foto3 .bed, .foto4 .bed ,.foto5 .bed, .foto6 .bed{
    position: relative;
    top: 330px;
    left: 30px;
}
.foto1 .p1, .foto2 .p1, .foto3 .p1, .foto4 .p1 ,.foto5 .p1, .foto6 .p1{
    position: relative;
    top: 302px;
    left: -103px;
    text-align: center;
    font:  13px/35px Montserrat;
    letter-spacing: 0;
    color: #4B4B4B;
    opacity: 1;
}
.foto1 .vija-hiri1, .foto2 .vija-hiri1, .foto3 .vija-hiri1, .foto4 .vija-hiri1,.foto5 .vija-hiri1, .foto6 .vija-hiri1{
    position: relative;
    top: 273px;
    left: 103px;
    width: 0px;
    height: 25px;
    border-left: 1px solid #D5CAB8;
    opacity: 1;
    
}
.foto1 .bath, .foto2 .bath, .foto3 .bath, .foto4 .bath ,.foto5 .bath, .foto6 .bath {
    position: relative;
    top: 250px;
    left: 124px;
}

.foto1 .p2, .foto2 .p2, .foto3 .p2, .foto4 .p2 ,.foto5 .p2, .foto6 .p2{
    position: relative;
    top: 222px;
    left: -11px;
    text-align: center;
    font:  13px/35px Montserrat;
    letter-spacing: 0;
    color: #4B4B4B;
    opacity: 1;
}
.foto1 .vija-hiri2, .foto2 .vija-hiri2, .foto3 .vija-hiri2, .foto4 .vija-hiri2 ,.foto5 .vija-hiri2, .foto6 .vija-hiri2{
    position: relative;
    top: 192px;
    left: 190px;
    width: 0px;
    height: 25px;
    border-left: 1px solid #D5CAB8;
    opacity: 1;
} 
.foto1 a, .foto2 a, .foto3 a, .foto4 a,.foto5 a, .foto6 a{
    position: relative;
    top: 170px;
    left: 243px;
    width: 90px;
    height: 20px;
    background-color: #FE8369;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    font: Bold 14px/20px Muli;
    letter-spacing: 0.6px;
    opacity: 1;
}

.foto1{
    /* position: absolute;
    left: 0; */
}
.foto2{
    /* position: absolute;
    left: 407.5px; */
    background-image: url(./Booking/pexels_photo_2121121.png);
}

.foto3{
    /* position: absolute;
    left: 815px; */
    background-image: url(./Booking/pexels_photo_2098443.png);
}

.foto4{
    /* position: absolute;
    top: 480px; */
    background-image: url(./Booking/pexels_photo_2128347.png);

}
.foto5{
    /* position: absolute;
    top: 480px;
    left: 407.5px; */
    display: none;
    
}
.foto6{
    /* position: absolute;
    top: 480px;
    left: 815px; */
    background-image: url(./Booking/pexels_photo_1974596.png);
    display: none;
}




.viewall{
    position: absolute;
    top: 1030px;
    left: -530px;
    width: 155px;
    height: 50px;
    background: #FE8369 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 20px #50302028;
    border-radius: 5px;
    z-index: 7;
    background-image: url(./Booking/arrow-long.png);
    background-repeat: no-repeat;
    background-size: 18px 12px;
    background-position: 118px 19px;
    
    font: 15px/23px Muli;
    letter-spacing: 0.53px;
    color: #FFFFFF;
    opacity: 1;
    outline: 0;
    border-style: none; 
    
}
.viewall:hover{
    cursor: pointer;
    

}
/* .viewall:focus{
    display: none;
} */

.paterni{
    position: absolute;
    top: 2940px;
    width: 100%;
    height: 920px;
    background-image: url(./Booking/Mask_Group_1_np_pattern.png);
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: #F0E3D0;
    
}
.vija-portokall5{
    position: absolute;
    top: 80px;
    width: 570px;
    height: 2px;
    background-color: #FE8369;
}
.paterni h3{
    position: absolute;
    top: 62px;
    left: 586px;
    text-align: left;
    font-size:  32px;
    letter-spacing: 1.1px;
    color: #4B4B4B;
    opacity: 1;
}
.teksti-djathtas{
    position: absolute;
    top: 300px;
    left: 300px;
    width: 405px;
    height: 500px;
}
.teksti-djathtas h4{
    
    text-align: left;
  
    font: bold 27px/37px Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,URW Palladio L,Nimbus Roman No9 L,serif; 
    letter-spacing: 2px;
    color: #4B4B4B;
    opacity: 1;
}
.teksti-djathtas p{
    position: absolute;
    top: 100px;
    text-align: left;
    font:  13px/35px Muli;
    letter-spacing: 0;
    color: #444444;
    opacity: 1;
}
.view-all1, .viewall2{
    position: absolute;
    top: 360px;
    padding-top: 15px;
    width: 145px;
    height: 30px;
    background: #FE8369 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 20px #50302028;
    border-radius: 5px;
    text-decoration: none;
    background-image: url(./Booking/arrow-long.png);
    background-repeat: no-repeat;
    background-size: 18px 12px;
    background-position: 108px 21px;
    text-align: center;
    font: 15px/23px Muli;
    letter-spacing: 0.53px;
    color: #FFFFFF;
    opacity: 1;
    outline: 0;
    border-style: none; 
}
.ora, .njeri, .targeti{
    width: 265px;
    height: 265px;
    background-color: white;
    box-shadow: 0px 5px 20px #F0E3D0;
}
.ora img, .njeri img, .targeti img{
    size: 50px 50px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.ora h5, .njeri h5, .targeti h5{
    position: absolute;
    top: 115px;
    left: 30px;
    text-align: left;
    font: Bold 18px/40px Perpetua;
    letter-spacing: 0.6px;
    color: #4B4B4B;
    opacity: 1;
}
.ora p, .njeri p, .targeti p{
    width: 200px;
    position: absolute;
    top: 150px;
    left: 30px;
    text-align: left;
    font:  11px/20px Muli;
    letter-spacing: 0;
    color: #4B4B4B;
    opacity: 1;

}

.ora{
    position: absolute;
    top: 200px;
    left: 800px;
}
.njeri{
    position: absolute;
    top: 510px;
    left: 800px;

}
.targeti{
    position: absolute;
    top: 360px;
    left: 1110px;
}

.ora:hover{
    background-color: #FE8369;
    font: white;
    background-image: url(./Booking/ora1.png);
    background-size: 64px 64px;
    background-position: 30px 30px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.ora:hover h5,.ora:hover p,.targeti:hover h5, .targeti:hover p,.njeri:hover h5, .njeri:hover p {
    color: white;
}


.targeti:hover {
    background-color: #FE8369;
    font: white;
    background-image: url(./Booking/targeti2.png);
    background-size: 64px 64px;
    background-position: 30px 30px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.njeri:hover{
    background-color: #FE8369;
    font: white;
    background-image: url(./Booking/njeri1.png);
    background-size: 64px 64px;
    background-position: 30px 30px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.testimonials{
    position: relative;
    top: 800px;
    height: 1000px;
    
}
.vertikal{
    position: absolute;
    left: 50%;
    border-left: 1.8px solid #FE8369;
    width: 0;
    height: 121px;
}
.testimonials h3{
    position: absolute;
    left: 615px;
    top: 170px;
    text-align: left;
    font: Bold 32px/50px Perpetua;
    letter-spacing: 1.2px;
    color: #4B4B4B;
    opacity: 1;
}
.circle{
    position: absolute;
    top: 270px;
    left: 670px;
    background-color:white;
    border:1px solid #FE8369;    
    height:170px;
    width: 170px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    background-image: url(./Booking/Untitled_3.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
.testimonials p{
    width: 900px;
    position: absolute;
    top: 520px;
    left: 314px;
    text-align: center;
    font: Italic 18px/35px Muli;
    letter-spacing: 0;
    color: #4B4B4B;
    opacity: 1;
}
.testimonials h5{
    position: absolute;
    top: 700px;
    left: 710px;
    text-align: center;
    font: Bold 20px/30px Perpetua;
    letter-spacing: 0.6px;
    color: #4B4B4B;
}
.testimonials h4{
    position: absolute;
    top: 735px;
    left: 700px;
    text-align: center;
    font: Light 18px/30px Muli;
    letter-spacing: 0.54px;
    color: #4B4B4B;
}

.viewall2{
    position: absolute;
    top: 830px;
    left: 688px;
}

.footer1{
    position: relative;
    top: 860px;
    background-color: #4B4B4B;
    height: 500px;
    
}
.footer1 h2{
    position: absolute;
    top: 150px;
    left: 500px;
    text-align: left;
    font: Bold 33px/40px Perpetua;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    opacity: 1;
}
.footer1 p{
    position: absolute;
    top: 210px;
    left: 280px;
    width: 1020px;
    text-align: center;
    font: Light 12px/35px Muli;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}
.a1, .a2{
   
    width: 160px;
    height: 28px;
    text-decoration: none;
    background: #FE8369 0% 0% no-repeat padding-box;
    box-shadow: 0px 20px 20px #50302028;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    font: Regular 12px/23px Muli;
    letter-spacing: 0.54px;
    color: #FFFFFF;
    opacity: 1;
}
.a1{
    position: absolute;
    top: 350px;
    left: 500px;
}
.a2{
    position: absolute;
    top: 350px;
    left: 830px;
}
.vija-portokall6{
    position: absolute;
    top: 380px;
    left: 720px;
    width: 88px;
    border-top: 1.5px solid #FE8369 ;
}
.footer2{
    height: 480px;
    position: relative;
    top: 860px;
    width: 100%;
    background-color: #4B4B4B;
}

.vijaportokall7{
    position: absolute;
    top: 30px;
    left: 165px;
    
    width: 1200px;
    border-top: 1px solid #FE8369;
}


.social img{
    position: absolute;
    left: 10.8%;
    top: 100px;
    width: 82px;
    height: 60px;
}
.social h5{
    position: absolute;
    left: 10.8%;
    top: 170px;
    text-align: left;
    font: Bold 32px/50px Perpetua;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    opacity: 1;   
}
.rreth{
    border: 1px solid #F0E3D0;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-position: 13.5px 9px;
    background-repeat: no-repeat;

}
.rrethi1{
    position: absolute;
    left: 164px;
    top: 232px;
    background-image: url(./Booking/facebook.png);
}
.rrethi2{
    position: absolute;
    left: 214px;
    top: 232px;
    background-position: 6px 5px;
    background-image: url(./Booking/twiter.png);
}

.rrethi3{
    position: absolute;
    left: 268px;
    top: 232px;
    background-position: 6.5px 10px;
    background-image: url(./Booking/google-plus.png);
}
.rrethi4{
    position: absolute;
    left: 320px;
    top: 232px;
    background-position: 10px 10px;
    background-image: url(./Booking/instagram.png);
}

.lista1 h5,.lista2 h5,.lista3 h5,.lista4 h5 {
    position: absolute;
    top: 30px;
    left: 150px;
    text-align: left;
    font: Bold 15px/50px Perpetua;
    letter-spacing: 0.54px;
    color: #FFFFFF;
    opacity: 1;
}
.lista1 .vija-portokall8, .lista2 .vija-portokall9, .lista3 .vija-portokall10, .lista4 .vija-portokall11{
        position: absolute;
        top: 75px;
        left: 152px;
        width: 28px;
        border-top: 4px solid #FE8369;
}
.lista1 ul,.lista2 ul,.lista3 ul,.lista4 ul{
    position: absolute;
    top: 125px;
    left: 130px;
    margin: 0;
    width: 180px;
}
.lista1 li, .lista2 li, .lista3 li,.lista4 li{
    display: block;
    padding-bottom: 15px;
}
.lista1 a, .lista2 a,.lista3 a,.lista4 a{
    text-decoration: none;
    text-align: left;
    font: Light 11px/35px Muli;
    font-size: 13px;
    letter-spacing: 0;
    color: #F0E3D0;
    opacity: 1;
}
.lista1{
    position: absolute;
    top: 58px;
    left: 350px;
    width: 250px;
    height: 300px;
}
.lista2{
    position: absolute;
    top: 58px;
    left: 530px;
    width: 250px;
    height: 300px;
}
.lista3{
    position: absolute;
    top: 58px;
    left: 700px;
    width: 250px;
    height: 300px;
}
.lista4{
    position: absolute;
    top: 58px;
    left: 900px;
    width: 250px;
    height: 300px;
}

input[type=text]{
    position: absolute;
    top: 128px;
    left: 150px;
    width: 300px;
    height: 40px;
    border: 1px solid #F0E3D0;
    border-radius: 5px;
    background-color: #4B4B4B;
    text-align: left;
    font-family:  Muli;
    font-size: 13px;
    
    opacity: 1;
}
::placeholder{
    color: #F0E3D0;
    padding-left: 15px;

}

input[type=submit] {
    position: absolute;
    top: 127px;
    left: 364px;
    height: 43px;
    font-size: 12px;
    background-color: #FE8369;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
   background-color: coral;
  }

.vijaportokall12{
    position: absolute;
    top: 400px;
    left: 165px;
    
    width: 1200px;
    border-top: 1px solid #FE8369;

}
.copy{
    position: absolute;
    top: 430px;
    left: 575px;
    text-align: left;
    font-family:  Muli;
    font-size: 13px;
    letter-spacing: 0;
    color: #F0E3D0;
    opacity: 1;
}
